<a href="https://colab.research.google.com/github/SHAIKHHUZEFA/basic-django-project/blob/master/analysis%20onTitanic%20dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, KFold
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [0]:
df = pd.read_csv(r'C:\Users\HP\Desktop\ML_Assignments_Final\Logistic_Regression\Required_Datasets\titanic.csv')
df.head()

In [0]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
df=pd.read_csv('/gdrive/My Drive/titanic_train.csv')

In [0]:
df.head(10)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S
7            8         0       3  ...  21.0750   NaN         S
8            9         1       3  ...  11.1333   NaN         S
9           10         1       2  ...  30.0708   NaN         C

[10 rows x 12 columns]

In [0]:
df = df.drop(['Cabin', 'Name'], axis=1)

In [0]:
df.shape

(891, 10)

In [0]:
df.Survived[df.Survived==1].shape

(342,)

In [0]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

### Imputing the age for the missing values based on 'Pclass' and 'Sex'

In [0]:
for i in df['Pclass'].unique():
    for j in df['Sex'].unique():
        print("Class "+ str(i) + " Sex: " + str(j))
        print(np.mean(df[(df.Pclass == i) & (df.Sex == j)].Age))

Class 3 Sex: male
26.507588932806325
Class 3 Sex: female
21.75
Class 1 Sex: male
41.28138613861386
Class 1 Sex: female
34.61176470588235
Class 2 Sex: male
30.74070707070707
Class 2 Sex: female
28.722972972972972

In [0]:
for i in range(891):
    if np.isnan(df.Age[i]):
#         print(df.Age[i])
        df.Age[i] = np.mean(df[(df.Pclass == df.Pclass[i]) & (df.Sex == df.Sex[i])].Age)
#         print(df.Age[i])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [0]:
df.head(10)

   PassengerId  Survived  Pclass  ...            Ticket     Fare  Embarked
0            1         0       3  ...         A/5 21171   7.2500         S
1            2         1       1  ...          PC 17599  71.2833         C
2            3         1       3  ...  STON/O2. 3101282   7.9250         S
3            4         1       1  ...            113803  53.1000         S
4            5         0       3  ...            373450   8.0500         S
5            6         0       3  ...            330877   8.4583         Q
6            7         0       1  ...             17463  51.8625         S
7            8         0       3  ...            349909  21.0750         S
8            9         1       3  ...            347742  11.1333         S
9           10         1       2  ...            237736  30.0708         C

[10 rows x 10 columns]

In [0]:
df.shape

(891, 10)

In [0]:
df = df.dropna()
df.shape

(889, 10)

In [0]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

In [0]:
df_new = df.select_dtypes(exclude=['int64', 'float64'])
df_new1 = df.select_dtypes(include=['int64', 'float64'])
df_encoded = df_new.apply(LabelEncoder().fit_transform)
df = df_new1.join(df_encoded )
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Sex              int64
Ticket           int64
Embarked         int64
dtype: object

In [0]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(labels=['Survived','PassengerId','Parch','Ticket'], axis=1), df['Survived'], test_size = 0.3)

In [0]:
model=LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [0]:
print('classes: ',model.classes_)
print('coefficients: ',model.coef_)
print('intercept :',model.intercept_)

classes:  [0 1]
coefficients:  [[-0.82599892 -0.0277133  -0.36542797  0.00548165 -2.30497357 -0.04120301]]
intercept : [3.62108865]

In [0]:
pred=model.predict(X_test)
con_mat=confusion_matrix(y_test, pred)
print(con_mat)
accuracy=(con_mat[0,0]+con_mat[1,1])/y_test.size
print(accuracy)

[[142  20]
 [ 35  70]]
0.7940074906367042

In [0]:
X = df.drop(labels=['Survived','PassengerId','Parch','Ticket'],axis=1)

In [0]:
pd.Series([variance_inflation_factor(X.values, i) 
               for i in range(X.shape[1])], 
              index=X.columns)

Pclass      5.324574
Age         4.572246
SibSp       1.397737
Fare        1.586496
Sex         3.037970
Embarked    4.701619
dtype: float64

In [0]:
model = sm.OLS(y_train, X_train).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.483
Model:                            OLS   Adj. R-squared:                  0.477
Method:                 Least Squares   F-statistic:                     95.73
Date:                Sun, 07 Apr 2019   Prob (F-statistic):           8.54e-85
Time:                        11:51:57   Log-Likelihood:                -374.99
No. Observations:                 622   AIC:                             762.0
Df Residuals:                     616   BIC:                             788.6
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Pclass         0.1019      0.017      6.106      0.000       0.069       0.135
Age            0.0067      0.001      5.555      0.000       0.004       0.009
SibSp         -0.0439      0.017     -2.551      0.011      -0.078      -0.010
Fare           0.0032      0.000      8.788      0.000       0.002       0.004
Sex           -0.4422      0.039    -11.378      0.000      -0.519      -0.366
Embarked       0.0725      0.023      3.223      0.001       0.028       0.117
==============================================================================
Omnibus:                       38.781   Durbin-Watson:                   1.884
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               34.901
Skew:                           0.513   Prob(JB):                     2.64e-08
Kurtosis:                       2.459   Cond. No.                         141.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [0]:
pred

array([0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0], dtype=int64)